body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242d38;
  color: #efd592;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-container {
  width: 100%;
  height: 150px;
  background-color: #242d38;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  color: #efd592;
}

.navbar-container a {
  text-decoration: none;
  color: #efd592;
  display: flex;
  align-items: center;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.renthouse-container {
  display: flex;
  flex-wrap: wrap;
}

.home {
  min-height: 100vh;
}

.house-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.houses-box {
  max-width: 20rem;
  max-height: 30rem;
  border: 2px solid black;
  padding: 1rem;
  background-color: #efd592;
  color: #242d38;
  margin-top: 2rem;
  font-size: 0.6rem;
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
  flex-basis: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.houses-box:hover,.houses-box-favorite:hover {
  transform: scale(1.05);
}

.houses-box img, .houses-box-favorite img {
  margin-top: 0.5rem;
  width: 15rem;
  height: 15rem;
}
.houses-box h2,.houses-box-favorite h2 {
  margin: 0;
}

.houses-box p,.houses-box-favorite p {
  font-size: 1rem;
  margin: 0;
}

.houses-box-favorite{
  max-width: 20rem;
  max-height: 30rem;
  border: 2px solid black;
  padding: 1rem;
  background-color: #efd592;
  color: #242d38;
  margin-top: 2rem;
  font-size: 0.6rem;
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
  flex-basis: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  
}




button {
  font-size: 1rem;
  height: 3rem;
  width: 7rem;
  background-color: #242d38;
  border: 1px solid #efd592;
  color: #efd592;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: #efd592;
  color: #242d38;
  border: 1px solid #242d38;
}
.create-main h2{
  display: flex;
  justify-content: center;
 margin :0
}
.create-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
padding-left: 3rem;
  color: #242d38;
  background-color: #efd592;
  margin-top: 1vw;
  margin-left: 4vw;
  margin-right: 4vw;
  padding-bottom: 1rem;
  border-radius: 3rem;
  width:50vw;
  height: 130vh;
  margin-bottom: 35rem;
  align-items: center;
  

}

/* .create form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 1px;
} */

.create-container{
display: flex;

  
}
.create input{
  width: 30vw;
}
.main-information{
  display: flex;
  flex-direction: column;
 align-items: flex-start;
 gap: 1rem;
 
 
}
.test{
display: flex;
gap: 1rem;
flex-wrap: wrap;
width: 25vw;
margin-bottom: 2rem;
justify-content: space-between;
}
.counter{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.counter2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap:1rem
}

.btn__container {
  display: flex;
  width: 0.2rem;
  gap: 1rem;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}
.control__btn{
  height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.reset{
  height: 2rem;
}
.upload{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload input{
  display: flex;
  justify-content: center;
  
}

/* .create{
  display: flex;
  flex-direction: column;
  
}
.create h2{
  display: flex;
  justify-content: center;
}
.create-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
} */



.slider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.inputfilter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.inputfilter input {
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.house-favorite {
  background-color: #efd592;
}

.content {
  background-color: #242d38;
  color: #efd592;
}

.house-logo {
  max-width: 125px;
  color: #efd592;
  background-color: #242d38;
  margin-right: 50px;
}
.ren-ten-ten {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}

.lds-ellipsis div {
  position: absolute;
  top: 66px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #efd592;
  animation-timing-function: linear;
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis4 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis4 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.log-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 2.5rem;
}
.mainbar {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  color: #efd592;
  align-items: center;
}
.mainbar div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.showmore {
  display: flex;
  align-items: center;
}
.showmore p {
  cursor: pointer;
}

.searchbar {
  display: flex;
 
  gap: 0.5rem;
  padding-bottom: 2rem;
}
.searchbar p {
  margin: 0;
}
.searchbar input {
  padding: 0.4rem;
  margin: 0.4rem;

}

.searchbar select {
  margin-left: 0.5rem;
}

.searchfiled {
  margin: 0;
  background-color: #efd592;
  color: #242d38;
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  border-radius: 1rem;
  flex-wrap: wrap;

}
.rental {
  display: flex;
  margin: 0;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  opacity: 1;

}
.rental-number {
  font-size: 5.5rem;
  display: flex;
  opacity: 1;
}
.rent-text {
  width: 35vw;
  height: 50vh;
}



/* 
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #efd592;

  display: flex;
  justify-content: center;
  align-items: center;
} */

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10rem;
  right: 18rem;
  padding: 3rem;
  width: 100%;
  max-width: 50vw;
  background-color: #efd592;
  color: #242d38;
  border-radius: 1rem;
  border: 1px solid #242d38;
  overflow-y: scroll;
  height: 60vh;
}




.popup-inner p {
  margin: 0;
}

.close-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginning {
  margin-top: 1rem;
}

.favorite-box{
  background-color: #efd592;
  width: 4rem;
  height: 1rem;
  display: flex; 
  align-items: center;
  margin-bottom: 5rem;

}
.favorite-box button{
  width: 6rem;
  padding-top: 0.5rem;
  
}

.favorite-box p {
  position: relative;
  left: 1rem;
  bottom: 2.5rem;
  font-size: 0.8rem;
  
}
.main-box{
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}
.about-thehouse{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.create form {
  display: flex;
  flex-direction: column;
align-items:flex-start;

}

.favorite__list h2{
  margin: 0;

}

html{
  background-color: #242d38;
}